.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 550px;
  background-color: #fff;
}
.content {
  text-align: center;
  background-color: grey;
  height: 450px;
  width: 550px;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.content h1 {
  color: white;
  font-size: 40px;
  font-weight: 500;
}
.content p {
  font-size: 1.5em;
}
.content img {
  width: 250px;
  margin: auto;
  border-radius: 20%;
}
.content button {
  width: 150px;
  padding: 3px 5px;
  margin: auto;
}
